
HTTP_PORT=3000
HTTP_HOST=localhost
ALLOWED_ORIGIN=http://localhost:5173

DATABASE_URL=postgresql://friday:1234567@localhost:5433/fridaydb

POSTGRESQL_USER="friday"
POSTGRESQL_PASSWORD="1234567"
POSTGRESQL_DBNAME="fridaydb"
POSTGRES_URL='postgresql://friday:1234567@localhost:5433/fridaydb'

REDIS_USER='default'
REDIS_PASSWORD='pass123456'
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_URI='redis://:pass123456@$127.0.0.1:6379'
